body{
  margin:0;
  padding:0;
  text-align: center;
  background-image: url("background/picture.jpeg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.contact-title{
  color:#FFFFFF;
  text-transform: uppercase;
}
.contact-title h1{
margin-top: 150px;
  font-size: 50px;
  line-height: 10px;
}
.contact-title p{
  font-size: 22px;
  margin-top: 40px;
}
.contact-title h4{
  font-size: 22px;
  text-align: left;
  margin-top:auto;
}
.contact-title h3{
  font-size: 22px;
  text-align: right;
  margin-right: 0px;
}
.contact-title h2{
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#email{
  width: 15%;
  height: 25px;
  border-radius: 4px;
}
#name{
  width: 15%;
  height: 25px;
  border-radius: 4px;
}
#btn1{
  width: 10%;
  height: 40px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #90EE90;
  font-family: monospace;
}

#clock{
  width:100%;
  font-size: 150px;
  position: relative;
  top: -40px;
  text-align: center;
  font-size: 40px;
font-family:sans-serif;
}
#date{
  margin-top: 50px;
font-size: 40px;
font-family: fantasy;
}
